.animation-fill-mode-example {
  background-color: #DDD;
}

.animation-fill-mode-example:hover {
  background-color: red;
  animation-name: color-change;
}

@keyframes color-change {
  0% {
    background-color: green;
  }

  100% {
    background-color: purple;
  }
}