table.value-chart tr:last-child td:not(.border-bottom) {
  border-bottom: none;
}

table.value-chart td, table.value-chart th {
  padding: .5rem 1.25rem;
  font-size: 1.25rem;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

table.value-chart td:last-child, table.value-chart th:last-child {
  border-right: none;
}

table.value-chart td, table.value-chart th {
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}