.CSS_PSEUDO_ELEMENT-selection::selection {
  background-color: red;
  color: white;
}

.CSS_PSEUDO_ELEMENT-tooltip {
  position: relative;
  margin-bottom: 1rem;
}

.CSS_PSEUDO_ELEMENT-tooltip:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  bottom: calc(100% + .25rem);
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: .25rem .5rem;
}

.CSS_PSEUDO_ELEMENT-first-letter::first-letter {
  font-size: 2em;
  color: red;
  font-weight: bold;
}

.CSS_PSEUDO_ELEMENT-first-line::first-line {
  color: red;
}