<div class="selection" data-pseudo-element-page>
  <slot />
</div>

<style is:global>
  [data-pseudo-element-page].selection ::selection {
    background-color: var(--theme-red);
    color: white;
  }
</style>
