<button class="tooltip" data-tooltip="Hovered">
  Hover Me
</button>

<style>
  .tooltip {
    position: relative;
    margin-bottom: 1rem;
    padding: .5rem;
    font-size: 1rem;
  }

  .tooltip:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    bottom: calc(100% + .25rem);
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: .25rem .5rem;
  }
</style>