.shiki .highlighted-line {
  position: relative;
  background-color: var(--theme-code-highlight-bg);
  width: 100%;
}

.shiki .highlighted-line::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0.25em;
  background: var(--color-blue);
}

.shiki .line {
  display: inline-block;
  padding-right: 1em;
  padding-left: 1em;
}

.shiki {
  overflow-x: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 0.5rem;
}

.shiki > code {
  width: 100%;
  display: inline-block;
}
