.tag + label {
  cursor: pointer;
}

.tag:focus + label {
  outline-width: 2px;
  outline-color: black;
  outline: 2px auto black;
  outline-offset: 3px;
  border-radius: .25em;
  background-color: hsl(202, 100%, 80%);
}

.tag:hover + label {
  background-color: hsl(204, 100%, 80%);
}

.tag:checked + label {
  background-color: hsl(202, 100%, 40%);
  color: white;
}