<div class="easter-egg" data-css-media-range-page>
  <slot />
</div>

<style is:global>
  @media (999px <= width < 1000px) {
    [data-css-media-range-page].easter-egg * {
      color: var(--theme-red) !important;
    }
  }
</style>
