name: Merge Schedule
on:
  pull_request:
    types:
      - opened
      - edited
  schedule:
    - cron: "*/10 * * * *""
jobs:
  merge_schedule:
    runs-on: ubuntu-latest
    steps:
      - uses: gr2m/merge-schedule-action@v1
        with:
            time_zone: "America/Chicago"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}